html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 70em;
  margin-left: 8em;
  background-color: black;
}

.top-header-background {
  background-image: url(/images/space.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-header img {
  width: 15em;
  margin: 3em 2em 2em 2em;
  padding: 1em;
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  position: relative;
	background: #D0D4D6;
  border-radius: .4em;
  width: 50%;
  height: 20%;
  align-self: flex-start;
  margin-top: 2em;  
}

.speech-bubble:after {
	content: '';
	position: sticky;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-top-color: #D0D4D6;
	border-bottom: 0;
	border-left: 0;
	margin-left: -13px;
	margin-bottom: -26px;
}

.image-list {
  display: flex;
  justify-content: space-around;
}

.bubble-top-content {
  padding: 1em;
  font-size: 24px;
  font-weight: bolder;
  justify-content: center;
}

.bubble-bottom-content {
  padding: 0em 0em 1em 1.6em;
  font-size: 18px;
  justify-content: center;
}

.bottom-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.5);
}

.bottom-header ul{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 1em 1em 1em 1em;
}

.bottom-react {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.bottom-react-background {
  background-image: url(/images/react.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 4em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin: 1em 1em 0em 1em;
}

.react-text {
  display: flex;
  flex-direction: column;
  background-color: #FFFEFE;
  margin: 0em 1em 0em 1em;
  padding: 1em 1em 3em 1em;
  border-radius: 0em 0em 1em 1em;
}

.bold-text {
  font-weight: bolder;
}

.header-text {
  font-size: 24px;
}

.text {
  margin: .8em 0em 0em 0em;
}

.button {
  background-color: #1483D2;
  border-radius: .3em;
  color: white;
  width: 10em;
  padding: 1em;
  text-align: center;
  font-size: 16px;
  margin: -1.5em 0em 1em 58em;  
}